[user]
    name = Aaron J. Zirbes
    email = aaron.zirbes@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[color]
    ui = true
[web]
    browser = macosx
[browser "macosx"]
    cmd = open
[credential]
    helper = osxkeychain
[push]
    default = simple
[alias]
    bsum = branch --set-upstream-to=upstream/main
    b = branch -vv
    caa = commit -a --amend
    cm = checkout main
    co = checkout
    df = diff --relative -w --name-only upstream/main
    du = diff --relative -w upstream/main
    dus = diff --relative -w upstream/main --stat
    fa = fetch --all
    l = log --relative --graph -n 100
    ls = log --relative --graph --stat -n 100
    pf = "!if [ `git rev-parse --abbrev-ref --symbolic-full-name '@{u}' |sed -e 's#/.*##'` != 'upstream' ]; then git push -f; else echo 'DO NOT PUSH FORCE TO UPSTREAM'; fi"
    pu = push -u origin HEAD
    rium = !git rebase -i `git merge-base upstream/main HEAD` && git rebase upstream/main
    ra = "!git remote add ${1} ``"
    rt = rev-parse --symbolic-full-name --abbrev-ref HEAD@{u}
    s = status

[difftool]
    prompt = false
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[pager]
    diff = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[pull]
    rebase = true
