[user]
	name = Aaron J. Zirbes
	email = aaron.zirbes@gmail.com
[core]
	excludesfile = /Users/azirbes/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[color]
	ui = true
