[user]
    name = Aaron J. Zirbes
    email = aaron.zirbes@gmail.com
[core]
    excludesfile = /Users/a591926/.gitignore_global
    editor = vim
[merge]
    tool = vimdiff
[diff]
    tool = mvimdiff
[color]
    ui = true
[web]
    browser = macosx
[browser "macosx"]
    cmd = open
[credential]
    helper = osxkeychain
[push]
    default = simple
[alias]
    bsum = branch --set-upstream-to=upstream/master
    b = branch -vv
    caa = commit -a --amend
    cd = checkout develop
    cm = checkout master
    co = checkout
    df = diff --relative -w --name-only upstream/develop
    dtud = difftool upstream/develop..HEAD --
    du = diff --relative -w upstream/master
    dud = diff --relative -w upstream/develop
    dums = diff --relative -w upstream/develop --stat
    dus = diff --relative -w upstream/master --stat
    fa = fetch --all
    ffp = flow feature publish
    ffs = flow feature start
    l = log --relative --graph -n 100
    ls = log --relative --graph --stat -n 100
    pf = push -f
    prud = pull --rebase upstream develop
    prum = pull --rebase upstream master
    pu = push -u origin HEAD
    riud = rebase -i upstream/develop
    rium = !git rebase -i `git merge-base upstream/master HEAD` && git rebase upstream/master
    rt = rev-parse --symbolic-full-name --abbrev-ref HEAD@{u}
    s = status
[difftool]
    prompt = false
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[hub]
	host = git.target.com
