[user]
    name = Aaron J. Zirbes
    email = aaron.zirbes@gmail.com
[core]
    excludesfile = /Users/z002s5d/.gitignore_global
    editor = vim
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[color]
    ui = true
[web]
    browser = macosx
[browser "macosx"]
    cmd = open
[credential]
    helper = osxkeychain
[push]
    default = simple
[alias]
    bsum = branch --set-upstream-to=upstream/main
    b = branch -vv
    caa = commit -a --amend
    cd = checkout develop
    cm = checkout main
    co = checkout
    df = diff --relative -w --name-only upstream/main
    dtud = difftool upstream/develop..HEAD --
    du = diff --relative -w upstream/main
    dus = diff --relative -w upstream/main --stat
    fa = fetch --all
    l = log --relative --graph -n 100
    ls = log --relative --graph --stat -n 100
    pf = "!if [ `git rev-parse --abbrev-ref --symbolic-full-name '@{u}' |sed -e 's#/.*##'` != 'upstream' ]; then git push -f; else echo 'DO NOT PUSH FORCE TO UPSTREAM'; fi"
    prum = pull --rebase upstream main
    pu = push -u origin HEAD
    rium = !git rebase -i `git merge-base upstream/main HEAD` && git rebase upstream/main
    ra = "!git remote add ${1} ``"
    rt = rev-parse --symbolic-full-name --abbrev-ref HEAD@{u}
    s = status

[difftool]
    prompt = false
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[hub]
    host = git.target.com
    host = gist.git.target.com
[pager]
   diff = diff-so-fancy | less --tabs=1,5 -RFX
   show = diff-so-fancy | less --tabs=1,5 -RFX
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
